@use "/src/global.scss";

.container {
  visibility: visible;
  aspect-ratio: 1 / 1;
  border-radius: 1000px;
  width: 7.5rem;
  left: 0;
  right: 0;
  position: absolute;
  transform: translate(-50%, calc(var(--top-offset) + var(--top-padding) + var(--dot-offset) - 50%));
  z-index: 100;

  .particlesContainer {
    position: absolute;
    width: 300%;
    height: 300%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @extend %select-disabled;
}

.button {
  border-radius: 1000px;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transition: box-shadow 2s cubic-bezier(.04,.27,.07,.5);

  $blur: 4px;
  $box-shadow: 0 0 30px rgba(0, 0, 0, 0.2),
  0 0 20px rgba(0, 0, 0, 0.7);
  $background-opacity: 0.01;
  @include global.glass($background-opacity: $background-opacity, $with-shadow: false, $blur: $blur, $box-shadow: $box-shadow, $opacity: 1);

  &.animated {
    animation: glowing 2s ease-in-out infinite alternate;
  }
  &.glow {
    cursor: pointer;
    box-shadow:
            inset 0 0 50px #fff,
            inset 20px 0 80px #f0f,
            inset -20px 0 80px #0ff,
            inset 20px 0 300px #f0f,
            inset -20px 0 300px #0ff,
            0 0 50px #fff,
            -10px 0 80px #f0f,
            10px 0 80px #0ff;
  }

  p {
    color: white;
    font-weight: 400;
    font-size: 1.2em;
    pointer-events: none;
  }
}

@keyframes glowing {
  0% {
    box-shadow:
            none
  }
  100% {
     box-shadow:
             inset 0 0 15px rgba(255, 255, 255, 1),
             inset 10px 0 25px rgba(255, 0, 255, 1),
             inset -10px 0 25px rgba(0, 255, 255, 1),
             0 0 10px #fff,
             -10px 0 15px #f0f,
             10px 0 15px #0ff;
  }
}

.layoutCard {
  top: 0;
  visibility: hidden;
  backdrop-filter: none;
  -webkit-backdrop-filter: none;
}

#offer-button-particles {
  width: 100%;
  height: 100%;
}
