.fadeTop {
  --top-mask-size: 40px;
}

.fadeBottom {
  --bottom-mask-size: 40px;
}

.fadeTop, .fadeBottom {
  -webkit-mask-image: linear-gradient(to bottom, transparent 0, black var(--top-mask-size, 0), black calc(100% - var(--bottom-mask-size, 0)), transparent 100%);
  mask-image: linear-gradient(to bottom, transparent 0, black var(--top-mask-size, 0), black calc(100% - var(--bottom-mask-size, 0)), transparent 100%);
  transition: mask-image 0.5s ease-in-out;
}