@use "/src/components/Slides/SlidesPagination.module";

.card {
  --top-padding: 25px;
  font-size: 0.9rem;
  --top-offset: 20px;
  top: var(--top-offset);
  bottom: auto;
  margin: auto;
  position: relative;
  display: flex;
  padding: var(--top-padding) 0 var(--top-padding) 0;
  overflow: visible;
  max-height: calc(100% - var(--top-offset) * 2);

  a {
    text-decoration-color: rgba(255, 255, 255, 0.54);
  }

  ::-moz-selection {
    color: rgb(90, 192, 255);
    background: rgba(233, 165, 255, 0.05);
  }

  ::selection {
    color: rgb(90, 192, 255);
    background: rgba(233, 165, 255, 0.05);
  }

  ::-webkit-scrollbar {
    scrollbar-width: thin;
  }

  ::-webkit-scrollbar {
    @extend %slider;
    width: 5px;
  }
  ::-webkit-scrollbar-thumb {
    @extend %sliderThumb;
  }
}

.introCard {
  padding-left: 25px;

  .personal {
    .name {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      margin: 0.75em 0;
    }
    .key {
      width: 5em;
      display: inline-block;
    }
    .key {
      font-weight: 400;
      line-height: 1.2em;
    }

    p:not(span) {
      font-size: 1.1em;
    }
  }
}

.text {
  font-weight: 100;
  line-height: 1.2em;
  letter-spacing: 0.01em;
  padding-top: 20px;
  margin-top: -20px;
  display: flex;
  overflow-y: auto;
  flex-direction: column;
  padding-right: 25px;

  -webkit-mask-image: linear-gradient(to bottom, transparent 0, black var(--top-mask-size, 0), black calc(100% - var(--bottom-mask-size, 0)), transparent 100%);
  mask-image: linear-gradient(to bottom, transparent 0, black var(--top-mask-size, 0), black calc(100% - var(--bottom-mask-size, 0)), transparent 100%);
  transition: mask-image 0.5s ease-in-out;

  &.fadeTop {
    --top-mask-size: 35px;
  }

  &.fadeBottom {
    --bottom-mask-size: 35px;
  }
}

.card.active > .text {
  @extend %select-enabled;
}

.experienceCard > .text, .introCard > .text {
  @extend %select-disabled;

  h1 {
    font-weight: Bold;
    line-height: 1em;
    font-size: 1.9em;
  }
  h3 {
    font-weight: 400;
    line-height: 1.4em;
    font-size: 1.2em;
  }
  h4 {
    font-size: 1.3em;
    margin: 0.75em 0;
    font-weight: 400;
  }
  h5 {
    font-size: 1em;
    font-weight: 400;
  }
  li {
    font-style: italic;
    margin-left: 1em;
    list-style: none;
    position: relative;

    ::before {
      content: "";
      background-color: white;
      width: 0.3em;
      height: 0.3em;
      position: absolute;
      border-radius: 1000px;
      transform: translate(-200%, 150%);
    }
  }

  .features {
    .skills {
      ul {
        columns: 2;
        column-gap: 0;
      }
    }

    .backendContainer, .frontendContainer {
      display: flex;
      flex: 1 1 0;
      justify-content: space-between;

      > * {
        width: 50%;
      }
    }
  }

  .description, .greeting {
    margin-top: 0.5em;
  }

  .experienceHeader {
    display: flex;
    justify-content: space-between;

    .location, .position, .period, .company {
      font-style: italic;
    }

    .companyContainer {
      position: relative;
      overflow: visible;
      display: flex;
      justify-content: flex-end;

      .company {
        white-space: nowrap;
      }

      .heart {
        height: 1.3em;
        width: 1.3em;
        position: relative;
        right: 0;
        top: 0;
        transform: translate(25%, -5%) rotateZ(-15deg);

        filter: drop-shadow(0px 0px 8px red);
        transition: filter 0.5s ease-in-out;
        will-change: filter;

        &:hover {
          filter:
                  drop-shadow(0px 0px 5px rgba(255, 22, 152, 0.88))
                  drop-shadow(0px 0px 12px red);
        }

        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

@media (min-width: 850px) {
  .card {
    max-width: 700px;
    --top-padding: 35px;
    font-size: 1.1em;
    line-height: 1.2em;

    .lineContainer {
      padding-right: 20px;
    }
  }
}
@media (max-width: 850px) {
  .card {
    max-width: 85%;
    --top-padding: 20px;
  }
}
@media (max-width: 650px) {
  .card {
    font-size: 0.9em;
  }
}
@media (max-width: 450px) {
  .card {
    font-size: 0.8em;

    h3 {
      font-size: 1.2em;
    }

    h4 {
      font-size: 1.1em;
      margin: 0.7em 0;
    }
  }
}

.lineContainer {
  position: relative;
  padding-left: 35px;
  display: flex;
  justify-items: center;
}

.line {
  $line-color: white;
  box-shadow:
          0 0 10px 1px rgba(255, 255, 255, 0.1),
          0 0 15px 2px rgba(255, 0, 255, 0.1),
          0 0 20px 4px rgba(0, 255, 255, 0.1);

  --additional-height: 0px;
  --dot-offset: 1.5em;
  --dot-size: 0.8em;
  --line-width: 0.075em;
  --line-margin: 0px;

  background-color: $line-color;
  z-index: 100;
  position: absolute;
  left: 0;
  right: 0;

  width: var(--line-width);
  height: calc(var(--additional-height) - var(--top-offset) / 2);
  top: var(--dot-offset);
  margin: var(--line-margin) auto 0 auto;

  &.lineEnd {
    --line-margin: calc(-1 * (var(--top-padding) + var(--dot-offset)));
    height: calc(var(--top-padding) / 2 + var(--dot-offset) + var(--additional-height) - var(--top-offset) / 2);
  }

  &:not(.lineStart):not(.lineEnd) {
    --line-margin: calc(-1 * (var(--dot-offset) + var(--top-padding)));
    height: calc(var(--top-padding) + var(--dot-offset) + var(--additional-height));
  }

  &.dot::before {
    content: "";
    width: var(--dot-size);
    height: var(--dot-size);
    border-radius: 1000px;
    position: absolute;
    background-color: $line-color;
    box-shadow:
            0 0 10px 1px rgba(255, 255, 255, 0.4),
            0 0 15px 2px rgba(255, 0, 255, 0.4),
            0 0 20px 4px rgba(0, 255, 255, 0.4);
  }

  &:not(.lineStart)::before {
    transform: translateX(calc(-50% + (var(--line-width) / 2)))
                translateY(calc(-1 * var(--line-margin) - var(--top-offset) / 2));
  }

  &::before {
    transform: translateX(calc(-50% + (var(--line-width) / 2)))
  }
}