@use "../../global";

.logo {
  max-width: 100vw;
  max-height: 60vh;

  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  position: absolute;
  inset: 50vh 0 auto;
  margin: auto;
  transform: translateY(-50%);
  transition: filter 1s ease-in-out;
  pointer-events: none;
}

.container {
  position: absolute;
  height: 100%;
  width: 100%;
  inset: 0;
}
