h1 {

}

.card {
  max-width: 70%;
  padding: 4% 4% 4% 8%;
  font-size: 0.9rem;
  --top-offset: 5%;
  max-height: calc(100% - var(--top-offset) * 2);
  top: var(--top-offset);
  bottom: auto;
  overflow-y: scroll;
  position: absolute;
  scrollbar-width: thin;
  font-weight: 100;
  line-height: 1.2em;
  font-family: "Barlow Semi Condensed", sans-serif;
}

.jobCard, .introCard {
  h3 {
    font-size: 1.4em;
    font-weight: 400;
    line-height: 1.2em;
  }

  h4 {
    font-size: 1.3em;
    margin: 0.75em 0;
    font-weight: 400;
  }

  li p {
    padding-left: 0.5em;
    margin: 0;
  }

  .description {
    margin-top: 0.5em;
    padding: 0;
  }

  .location, .position, .period, .title, p {
    font-style: italic;
  }

  .highlight {
    position: relative;

    &::before {
      content: ">";
      position: absolute;
      border-radius: 1000px;
      width: 0.5em;
      height: 0.5em;
      transform: translate(-1em);
    }
  }

  > * {
    margin: 0;
    padding: 0;
  }

  div:has(.period):has(.position) {
    display: flex;
    justify-content: space-between;
  }

  .period {
    display: flex;
    justify-content: center;

    &::after, &::before {
      content: "";
      position: absolute;
      inset: 0;
      background-color: white;
      transform: translate(1em, 2.3em);
    }

    &::before {
      width: 1em;
      height: 1em;
      border-radius: 1000px;
      left: -0.45em;
    }

    &::after {
      width: 2px;
      height: calc(100% - 2.3em + 50vh);
      vertical-align: -50%;
    }
  }

  div:has(.title):has(.location) {
    display: flex;
    justify-content: space-between;
  }
}

/*.resumeCard::-webkit-scrollbar {
  width: 12px;
}

.resumeCard::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px 10px rgba(145, 145, 145, 0.47);
  border: solid 3px transparent;
  border-radius: 1000px;
}

.resumeCard::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 10px 10px rgba(212, 157, 232, 0.61);
  border: solid 3px transparent;
  border-radius: 1000px;
}*/

@media (min-width: 900px) {
  .card {
    max-width: 700px;
    padding: 35px 25px 35px 70px;
    font-size: 1em;
    line-height: 1.2em;
  }
}
@media (max-width: 650px) {
  .card {
    max-width: 85%;
    font-size: 0.8rem;
    padding: 40px 25px 40px 50px;
  }
}
@media (max-width: 450px) {
  .card {
    top: 3%;
    padding-left: 50px;
    font-size: 0.75rem;

    h3 {
      font-size: 1.2em;
    }

    h4 {
      font-size: 1.1em;
      margin: 0.7em 0;
    }
  }
}