@use "/src/Components/Slides/SlidesPagination.module";

.card {
  --top-padding: 25px;
  font-size: 0.9rem;
  --top-ofset: 5%;
  top: var(--top-ofset);
  bottom: auto;
  margin: auto;
  position: relative;
  display: flex;
  padding: var(--top-padding) 0 var(--top-padding) 0;
  overflow: visible;
  max-height: calc(100% - var(--top-ofset) * 2);

  a {
    text-decoration-color: rgba(255, 255, 255, 0.54);
  }

  ::-moz-selection {
    color: rgb(90, 192, 255);
    background: rgba(233, 165, 255, 0.05);
  }

  ::selection {
    color: rgb(90, 192, 255);
    background: rgba(233, 165, 255, 0.05);
  }

  ::-webkit-scrollbar {
    scrollbar-width: thin;
  }

  ::-webkit-scrollbar {
    @extend %slider;
    width: 5px;
  }
  ::-webkit-scrollbar-thumb {
    @extend %sliderThumb;
  }
}

.introCard {
  padding-left: 25px;

  .personal {
    .name {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      margin: 0.75em 0;
    }

    .key {
      font-weight: 400;
    }

    .email, .linkedin, .phone, .secondaryPhone, .location {
      :not(span) {
        font-size: 1.1em;
      }
    }
  }
}

.text {
  font-weight: 100;
  line-height: 1.2em;
  letter-spacing: 0.01em;
  margin: 0;
  display: flex;
  overflow-y: auto;
  flex-direction: column;
  padding-right: 25px;

  -webkit-mask-image: linear-gradient(to bottom, transparent 0, black var(--top-mask-size, 0), black calc(100% - var(--bottom-mask-size, 0)), transparent 100%);
  mask-image: linear-gradient(to bottom, transparent 0, black var(--top-mask-size, 0), black calc(100% - var(--bottom-mask-size, 0)), transparent 100%);
  transition: mask-image 0.5s ease-in-out;

  &.fadeTop {
    --top-mask-size: 35px;
  }

  &.fadeBottom {
    --bottom-mask-size: 35px;
  }
}

.experienceCard > .text, .introCard > .text {
  h1 {
    font-weight: Bold;
    line-height: 1em;
    font-size: 1.9em;
  }
  h3 {
    font-weight: 400;
    line-height: 1.4em;
    font-size: 1.2em;
  }
  h4 {
    font-size: 1.3em;
    margin: 0.75em 0;
    font-weight: 400;
  }
  h5 {
    font-size: 1em;
    font-weight: 400;
  }
  li {
    font-style: italic;
    margin-left: 1em;
    list-style: none;
    position: relative;

    ::before {
      content: "";
      background-color: white;
      width: 0.3em;
      height: 0.3em;
      position: absolute;
      border-radius: 1000px;
      transform: translate(-200%, 150%);
    }
  }

  .features {
    .skills {
      ul {
        columns: 2;
        column-gap: 0;
      }
    }

    .backendContainer, .frontendContainer {
      display: flex;
      flex: 1 1 0;
      justify-content: space-between;

      > * {
        width: 50%;
      }
    }
  }

  .description, .greeting {
    margin-top: 0.5em;
    padding: 0;
  }

  .location, .position, .period, .company {
    font-style: italic;
  }

  .experienceHeader {
    display: flex;
    justify-content: space-between;

    .companyContainer {
      position: relative;
      overflow: visible;
      display: flex;
      justify-content: flex-end;

      .company {
        white-space: nowrap;
      }

      .heart {
        height: 1.3em;
        width: 1.3em;
        position: relative;
        right: 0;
        top: 0;
        transform: translate(25%, -5%) rotateZ(-15deg);

        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

@media (min-width: 850px) {
  .card {
    max-width: 700px;
    --top-padding: 35px;
    font-size: 1.1em;
    line-height: 1.2em;

    .lineContainer {
      padding-right: 20px;
    }
  }
}
@media (max-width: 850px) {
  .card {
    max-width: 85%;
    --top-padding: 20px;
  }
}
@media (max-width: 650px) {
  .card {
    font-size: 0.9em;
  }
}
@media (max-width: 450px) {
  .card {
    font-size: 0.8em;

    h3 {
      font-size: 1.2em;
    }

    h4 {
      font-size: 1.1em;
      margin: 0.7em 0;
    }
  }
}

.lineContainer {
  position: relative;
  padding-left: 35px;
  display: flex;
  justify-items: center;
}

.line {
  $line-color: white;

  --additional-height: 0px;
  --line-width: 0.075em;
  --top: 1em;

  background-color: $line-color;
  z-index: 100;
  position: absolute;
  top: var(--top);
  left: 0;
  right: 0;
  margin: calc(-1 * var(--top-padding)) auto auto auto;

  width: var(--line-width);
  height: var(--additional-height);


  &:not(.lineStart) {
    top: 0;
  }

  &.lineEnd {
    height: calc(var(--top-padding) * 2 + var(--additional-height));
    top: 0;
  }

  &.lineStart {
    margin-top: auto;
  }

  &.dot::before {
    content: "";
    --size: 0.8em;
    width: var(--size);
    height: var(--size);
    border-radius: 1000px;
    position: absolute;
    background-color: $line-color;
  }

  &.lineStart::before {
    transform: translate(calc(-50% + (var(--line-width) / 2)));
  }

  &:not(.lineStart)::before {
    transform: translate(calc(-50% + (var(--line-width) / 2)), calc(var(--top-padding) * 2));
  }
}

/*.resumeCard::-webkit-scrollbar {
  width: 12px;
}

.resumeCard::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px 10px rgba(145, 145, 145, 0.47);
  border: solid 3px transparent;
  border-radius: 1000px;
}

.resumeCard::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 10px 10px rgba(212, 157, 232, 0.61);
  border: solid 3px transparent;
  border-radius: 1000px;
}*/