.overlay, .overlayFixed {
  z-index: 100;
  position: relative;
  pointer-events: none;
}

.overlay {
  width: 100%;
  height: 100%;
  margin: 0;
  inset: 0;
}

.overlayFixed {
  width: 100%;
  height: 100%;
}

.tip {
  position: absolute !important;
  padding: 10px 10px;
  width: 12vmax;
  min-width: 10vmax;
  max-width: 120px;
  aspect-ratio: 2 / 1;
  border-radius: 1.5vmax;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: center;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  opacity: 1;
  --color: rgba(0, 0, 0, 0.1);

  box-shadow: 2px 2px 8px rgba(0,0,0,0.8),
              inset 5px 5px 20px rgba(255,255,255,0.2);
  border: 0.1px solid rgba(255, 255, 255, 1);

  p {
    color: white;
    font-family: "Barlow Semi Condensed", sans-serif;
    filter: drop-shadow(1px 1px 2px black);
    text-align: center;
    font-size: 0.8em;
    line-height: 1em;
  }

  .tail {
    --color: none;
  }
}

.tapMe {
  top: 54.5%;
  left: 27%;

  .tail {
    width: 32px;
    height: 12px;
    border-bottom: 8px solid white;
    animation: vertical-arrow-move 0.4s ease-in-out infinite alternate;

    @keyframes vertical-arrow-move {
      100% {
        height: 15px;
        width: 26px;
      }
    }
  }
}

.interactive {
  top: 35%;
  right: 20%;
  transform: scale(1.2);
}

.more {
  bottom: 50px;
  right: 50px;

  .tail {
    height: 15px;
    width: 13px;
    border-right: 10px solid white;
    animation: horizontal-arrow-move 0.4s ease-in infinite alternate;

    @keyframes horizontal-arrow-move {
      100% {
        height: 14px;
        width: 6px;
      }
    }
  }
}

@media (max-aspect-ratio: 0.54/1) and (orientation: portrait){
  .tapMe {
    top: 56%;
    left: 28%;
  }
}
@media (max-aspect-ratio: 0.44/1) and (orientation: portrait) {
  .tip {
    width: 10%;
  }
  .tapMe {
    left: 30%;
  }
}
@media (max-aspect-ratio: 0.35/1) and (orientation: portrait){
  .tapMe {
    left: 43%;
  }
}