@use "../../global";

%slider {
  border-radius: 10000px;
  $box-shadow: 0 0 5px rgba(0, 0, 0, 1),
  0 0 10px rgba(0, 0, 0, 0.5);
  @include global.glass($box-shadow: $box-shadow, $opacity: 0.8);
}

%sliderThumb {
  border-radius: 10000px;
  transform: translate(calc(100% * var(--offset)));
  box-shadow: 0 0 15px rgba(0, 0, 0, 1);
  background-color: rgba(216, 196, 224, 0.38);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  z-index: 1000;
  pointer-events: none;
}

.bullet {
  width: 10px;
  height: 10px;
  display: flex;

  transition: transform 0.6s cubic-bezier(.83,1.65,.57,.66);
  --rotation: 0;
}

.bullet:not(.active) {
  @extend %slider;
}

.bullet.active {
  --offset: 0;
  @extend %sliderThumb;
}

.block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: relative;
}

.block.vertical {
  right: -50%;
  transform: rotateZ(90deg) translateY(50%);

  > .button {
    margin-left: -5%;
    margin-right: -5%;
  }
}

.button:before {
  content: "";
  width: 250%;
  height: 250%;
  pointer-events: auto;
  position: absolute;
}

.button {
  position: relative;
  border-radius: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: box-shadow, background, border, opacity;
  transition-duration: 0.4s, 0.4s, 0.5s, 0.5s;
  transition-timing-function: ease-in-out;
  z-index: 1000;

  $blur: 3px;
  $opacity: 0.6;
  $border-thickness: 0.1px;
  @include global.glass(
          $opacity: $opacity,
          $blur: $blur);

  animation: bubbleup ease-out 0.5s forwards;

  margin-left: 2%;
  margin-right: 2%;

  &.next {
    transform: rotateZ(180deg);
  }

  &.hidden {
    opacity: 0;
  }

  img {
    transform: rotateZ(-90deg);
    width: 50%;
    height: 50%;
    position: absolute;
    transition: filter 0.5s ease-in-out;
  }

  &:not(.hidden):hover {
    box-shadow: 0 0 10px rgba(204, 160, 224, 0.2),
    0 0 10px rgba(255, 255, 255, 0.2),
    0 0 20px rgba(255, 255, 255, 0.1);
    @include global.glass($opacity: 1,
    $blur: $blur);
    backdrop-filter: drop-shadow(
                    0 0 6px rgba(255, 255, 255, 1)
                    0 0 6px rgba(255, 255, 255, 1)
                    0 0 6px rgba(255, 255, 255, 1));

    img {
      filter:
              drop-shadow(0 0 2px rgba(255, 255, 255, 0.8))
              drop-shadow(0 0 4px rgba(255, 255, 255, 0.6));
    }
  }
}

/*

@keyframes bubbleup {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-120px);
  }
}
*/
