.page,
.section {
  position: relative;
  scroll-snap-align: center;
  scroll-behavior: smooth;
  z-index: 1000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  touch-action: pan-x pan-y;
}

.section {
  height: 100vh;
  height: 100dvh;
  width: 100vw;
  width: 100dvw;
}

.page {
  height: fit-content;
}

.section {
  overflow: hidden;
  transition: opacity 1s;
  opacity: 1;
}

.section.inactive {
  opacity: 0;
}
