.section,
.page {
  position: relative;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.section {
  scroll-snap-align: center;
  scroll-snap-stop: always;
  height: 100vh;
  height: 100svh;
  width: 100%;
}

.page {
  width: 100%;
  position: relative;
  z-index: 1;
  height: 100%;
  touch-action: none;
  overflow: hidden;
}

.inactive {
  opacity: 0;
}