.section,
.page {
  position: relative;
  opacity: 1;
  transition: opacity 1s;
  z-index: 1;
}

.section {
  scroll-snap-align: center;
  touch-action: pan-x pan-y;
  height: 100vh;
  height: 100dvh;
  width: 100vw;
  width: 100dvw;
  overflow: hidden;
}

.inactive {
  opacity: 0;
}
