@use "../../global";

.section,
.page {
  position: relative;
  opacity: 1;
  transition: opacity 1s ease-in-out;
  @extend %select-disabled;
}

.section {
  scroll-snap-align: center;
  scroll-snap-stop: always;
  height: 100%;
  width: 100%;
}

.page {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  touch-action: pinch-zoom;
  overflow: hidden;
}

.inactive {
  opacity: 0;
}