.circle {
  position: absolute;
  bottom: 1dvh;
  width: 60px;
  height: 40px;
  background-color: white;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 5000px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 1s;
  z-index: 1000;

  background: rgba(255, 255, 255, 0.05);
  box-shadow:
    0 4px 30px rgba(0, 0, 0, 1),
    inset 0px 0px 50px rgba(255, 255, 255, 0.07);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 0.5px solid rgba(255, 255, 255, 0.2);
  animation: bubbleup ease-out 0.5s forwards;

  &::after {
    content: "▼";
    text-shadow: 0 0 10px white;
    transition: text-shadow 0.2s ease-in-out;
  }

  &:hover::after {
    text-shadow:
      0 0 10px white,
      0 0 20px white,
      0 0 30px white;
  }
}

.circle:hover {
  background: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 400ms linear;
  -ms-transition: background-color 400ms linear;
  transition: background-color 400ms linear;
}

@keyframes bubbleup {
  0% {
    bottom: -15%;
  }
  100% {
    bottom: 1dvh;
  }
}
