@use "../../global";

.circle {
  position: fixed;
  width: 15%;
  height: 5%;

  max-height: 40px;
  max-width: 60px;
  border-radius: 5000px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 1s;
  z-index: 100;
  inset: auto 0 env(safe-area-inset-bottom);
  margin: auto;
  animation: bubbleup ease-out 0.5s forwards;

  @include global.glass-button();

  &::after {
    content: "▼";
    text-shadow: 0 0 10px white;
    transition: text-shadow 0.2s ease-in-out;
  }

  &:hover::after {
    @extend %text-glow
  }
}

.circle:hover {
  background: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 400ms linear;
  -ms-transition: background-color 400ms linear;
  transition: background-color 400ms linear;
}
/*

@keyframes bubbleup {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-120px);
  }
}
*/
