@use "../../global.templates";

div {
  --color: none;
}

.tooltip {
  position: relative;

  .tail {
    position: absolute;
    z-index: 100;
  }

  &.top .tail {
    aspect-ratio: 2 / 1;
    top: 100%;
    margin: auto;
    clip-path: polygon(0 100%, 50% 0%, 100% 100%);
  }

  &.bottom .tail {
    aspect-ratio: 2 / 1;
    inset: 100% 0 auto 0;
    margin: auto;
    z-index: 1;
    clip-path: polygon(0 0%, 50% 100%, 100% 0%);
  }

  &.left .tail {
    aspect-ratio: 1 / 2;
    inset: 0 100% 0 auto;
    clip-path: polygon(0 50%, 100% 100%, 100% 0%);
    margin: auto;
  }

  &.right .tail {
    aspect-ratio: 1 / 2;
    inset: 0 auto 0 100%;
    clip-path: polygon(0 0, 100% 50%, 0 100%);
    margin: auto;
  }

  &.right-bottom .tail {
    aspect-ratio: 1 / 2;
    clip-path: polygon(0 0, 100% 50%, 0 100%);
    transform: rotateZ(45deg);
    inset: 100% auto auto 100%;
  }
}