.parallax {
  pointer-events: none;
}

.parallax-container {
  position: absolute;
}

:root {
  --scale: 0.3;
}

.layers {
  aspect-ratio: 1/1;
  overflow: hidden;
  min-height: 100vh;
  min-width: 100vw;
}

.layers-box > * {
  position: absolute;
  top: calc(var(--from-top) * var(--scale));
  left: calc(var(--from-left) * var(--scale));
  transform-origin: top left;
  transform: scale(var(--scale));
}

.layers-box {
  position: relative;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.sky-2 {
  width: 357.732%;
  --from-left: -11.44%;
  --from-top: -5.75%;
  z-index: 1;
}

.sky-1 {
  width: 357.732%;
  --from-left: -11.44%;
  --from-top: 15.98%;
  z-index: 2;
}

.sky-0 {
  width: 357.732%;
  --from-left: -11.44%;
  --from-top: -9.6%;
  z-index: 3;
}

.trace {
  width: 126.311%;
  --from-left: 128.66%;
  --from-top: 198.34%;
  z-index: 4;
}

.left-9 {
  width: 10.644%;
  --from-left: 7.85%;
  --from-top: 237.64%;
  z-index: 5;
}

.left-8 {
  width: 17.298%;
  --from-left: 19.27%;
  --from-top: 233.28%;
  z-index: 6;
}

.left-7 {
  width: 15.806%;
  --from-left: -6.11%;
  --from-top: 233.69%;
  z-index: 7;
}

.left-6 {
  width: 6.366%;
  --from-left: 38.82%;
  --from-top: 235.57%;
  z-index: 8;
}

.left-5 {
  width: 18.685%;
  --from-left: 51.59%;
  --from-top: 226.91%;
  z-index: 9;
}

.left-4 {
  width: 33.346%;
  --from-left: 80.35%;
  --from-top: 214.47%;
  z-index: 9;
}

.left-3 {
  width: 33.436%;
  --from-left: 89.65%;
  --from-top: 233.84%;
  z-index: 10;
}

.left-2 {
  width: 26.806%;
  --from-left: 66.64%;
  --from-top: 230.86%;
  z-index: 11;
}

.rays-left {
  width: 264.028%;
  --from-left: -11.44%;
  --from-top: 157.28%;
  z-index: 12;
}

.fog-left {
  width: 68.419%;
  --from-left: -11.44%;
  --from-top: 241.2%;
  z-index: 13;
}

.right-11 {
  width: 12.853%;
  --from-left: 231.8%;
  --from-top: 210.19%;
  z-index: 14;
}

.right-10 {
  width: 12.049%;
  --from-left: 221.2%;
  --from-top: 212.13%;
  z-index: 15;
}

.right-9 {
  width: 35.333%;
  --from-left: 266.19%;
  --from-top: 185.08%;
  z-index: 16;
}

.right-8 {
  width: 17.116%;
  --from-left: 314.38%;
  --from-top: 202.52%;
  z-index: 17;
}

.right-7 {
  width: 18.415%;
  --from-left: 301.92%;
  --from-top: 202.96%;
  z-index: 18;
}

.fog-right-6 {
  width: 85.254%;
  --from-left: 261.31%;
  --from-top: 224.16%;
  z-index: 19;
}

.right-5 {
  width: 15.014%;
  --from-left: 299.13%;
  --from-top: 228.47%;
  z-index: 20;
}

.right-4 {
  width: 14.504%;
  --from-left: 320.32%;
  --from-top: 233.66%;
  z-index: 21;
}

.right-3 {
  width: 23.732%;
  --from-left: 310.17%;
  --from-top: 234.65%;
  z-index: 22;
}

.right-2 {
  width: 18.932%;
  --from-left: 245.26%;
  --from-top: 198.78%;
  z-index: 23;
}

.right-1 {
  width: 27.942%;
  --from-left: 239.96%;
  --from-top: 216.21%;
  z-index: 24;
}

.fog-right-0 {
  width: 81.204%;
  --from-left: 203.86%;
  --from-top: 226.79%;
  z-index: 25;
}

.middle-5 {
  width: 70.011%;
  --from-left: 149.62%;
  --from-top: 196.41%;
  z-index: 26;
}

.middle-4 {
  width: 9.242%;
  --from-left: 136.76%;
  --from-top: 148.74%;
  z-index: 27;
}

.fog-middle {
  width: 87.295%;
  min-height: 278px;
  --from-left: 128.86%;
  --from-top: 212.72%;
  z-index: 28;
}

.middle-2 {
  width: 11.529%;
  --from-left: 189.67%;
  --from-top: 226.17%;
  z-index: 29;
}

.middle-1 {
  width: 15.713%;
  --from-left: 135.79%;
  --from-top: 223.36%;
  z-index: 30;
}

.middle-0 {
  width: 29.494%;
  --from-left: 198.62%;
  --from-top: 217.94%;
  z-index: 31;
}

.buildings-front {
  width: 345.575%;
  --from-left: -6.54%;
  --from-top: 189.59%;
  z-index: 32;
}

.water {
  width: 349.487%;
  --from-left: -8.12%;
  --from-top: 253.31%;
  z-index: 33;
}

.water-yacht {
  width: 15.366%;
  --from-left: 97.65%;
  --from-top: 249.35%;
  z-index: 34;
}

.water-boat-right {
  width: 16.068%;
  --from-left: 107.39%;
  --from-top: 246.89%;
  z-index: 35;
}

.water-boat-left {
  width: 8.113%;
  --from-left: -2.44%;
  --from-top: 246.98%;
  z-index: 36;
}

.fog-front-small {
  width: 121.605%;
  --from-left: 113.03%;
  --from-top: 241.77%;
  z-index: 37;
}

.fog-front {
  width: 389.398%;
  --from-left: -26.97%;
  --from-top: 235.15%;
  z-index: 38;
}

.birds {
  width: 67.945%;
  --from-left: 242.78%;
  --from-top: 173.89%;
  z-index: 39;
}

.person {
  width: 97.998%;
  --from-left: 11.34%;
  --from-top: 210.09%;
  z-index: 40;
}

.light {
  width: 219.073%;
  --from-left: -11.44%;
  --from-top: 2.44%;
  z-index: 41;
}

@media (max-width: 525px) {
  .person {
    width: 90%;
    --from-left: 60%;
    --from-top: 220%;
  }

  .birds {
    width: 60%;
    --from-left: 160%;
    --from-top: 150%;
  }

  .light {
    width: 219%;
    --from-left: 58%;
    --from-top: 2.5%;
    opacity: 0.8;
  }

  .rays-left {
    width: 264.028%;
    --from-left: 30.44%;
    --from-top: 157.28%;
    z-index: 33;
    opacity: 0.6;
  }

  .layers {
    transform: translate(-18%, 2%);
  }
}
