.fadeTop {
  --top-mask-size: 48px;
}

.fadeBottom {
  --bottom-mask-size: 48px;
}

.fadeTop, .fadeBottom {
  -webkit-mask-image: linear-gradient(to bottom, transparent 0, black var(--top-mask-size, 0), black calc(100% - var(--bottom-mask-size, 0)), transparent 100%);
  mask-image: linear-gradient(to bottom, transparent 0, black var(--top-mask-size, 0px), black calc(100% - var(--bottom-mask-size, 0px)), transparent 100%);
}