@use "/src/global";

.logoPage {
  position: relative;
  z-index: 0;
  height: 100%;
}

.particlesContainer {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;

  > * {
    width: 100vw;
    height: 100vh;
    position: absolute;
    inset: 50vh 0 auto;
    margin: auto;
    transform: translateY(-50%);
  }
}

.background {
  transition: opacity 1s ease-in-out;
  height: 100%;
  width: 100%;
  position: absolute;
  inset: 0;
}